.hr-profile-detail {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.34);
  background-color: #fff;
}

.hr-profile-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1.25rem;
  border-bottom: 1px solid $extraLight;
  .hr-profile-header-left {
    display: flex;
    align-items: center;
    img {
      width: 7.5rem;
      height: 7.5rem;
      border-radius: 50%;
      margin-right: 3.125rem;
    }
  }
  .hr-profile-header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    button {
      margin-left: 1rem;
    }
  }
}
.hr-profile-text {
  h1 {
    font-size: 1.25rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    line-height: 1.5;
    color: $primaryBlack;
    margin: 0 0 0.625rem;
  }
  p {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0.625rem;
    font-weight: 500;
    line-height: 1;
    font-size: 1rem;
  }
}

.hr-profile-body {
  display: grid;
  grid-template-columns: 5fr 7fr;

  .hr-profile-body-left {
    border-right: 1px solid $extraLight;
    .count {
      padding: 1.25rem;
      border-bottom: 1px solid $extraLight;
      display: flex;
      justify-content: space-between;

      .work {
        h3 {
          font-size: 1.5rem;
          line-height: 1.2;
          font-weight: 600;
          margin-bottom: 0.25rem;
          margin-top: 0;
        }
        span {
          font-family: 'Poppins', sans-serif;
          font-size: 0.875rem;
          line-height: 1.71;
          margin: 0;
        }
      }
    }
    .section {
      padding: 1.25rem;

      h3 {
        font-size: 1rem;
        line-height: 1.5;
        letter-spacing: 0.8px;
        font-weight: 600;
        margin-bottom: 1.125rem;
      }
      p {
        color: $lightGrey;
        line-height: 1.5;
        font-family: 'Poppins', sans-serif;
        margin-top: 0;
        svg {
          margin-right: 0.625rem;
          height: 1.125rem;
        }
      }

      .skillType {
        font-size: 0.875rem;
        color: $lightGrey;
      }
    }
  }
}

.hr-profile-body-right {
  padding: 1.125rem;
  h3 {
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.8px;
    font-weight: 600;
    margin-bottom: 1.125rem;
    margin-top: 0;
  }
  .section {
    margin-bottom: 1rem;
    p {
      font-family: 'Poppins', sans-serif;
      line-height: 1.5rem;
      margin-bottom: 0.375rem;
      margin-top: 0;
    }
    .duration {
      color: $lightGrey;
      font-size: 0.75rem;
      margin-bottom: 0.25rem;
    }
    .department {
    }
    .company {
      font-weight: 500;
    }
    .location {
      font-size: 0.875rem;
    }
  }
}

.skillname {
  background-color: $midLight;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #fff;
  padding: 0 0.75rem;
  cursor: pointer;
  margin-right: 0.625rem;
  margin-bottom: 0.625rem;
  display: inline-block;
  border-radius: 5px;

  &:hover {
    background-color: $primaryBlue;
  }
}

.languageList {
  span {
    display: inline-block;
    margin-right: 2px;
  }
}
