.zhibang__form {
  input[type='text'],
  input[type='email'],
  input[type='password'] {
    height: 2rem;
    padding: 0 0.625rem;
    color: $lightGrey;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    outline: 0;
    border: 1px solid $extraLight;
    width: calc(100% - 1.5rem);
  }
  label {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    span {
      margin-right: 4rem;
      display: flex;
      &:last-child {
        margin-right: 0;
      }
    }
    svg {
      margin-right: 0.625rem;
      height: 1.5rem;

      color: $lightGrey;
    }
    input[type='text'],
    input[type='email'],
    input[type='password'] {
      margin-bottom: 0;
    }
  }

  .oneThird,
  .half {
    display: grid;
    column-gap: 1rem;
  }

  .oneThird {
    grid-template-columns: repeat(3, 1fr);
  }
  .half {
    grid-template-columns: repeat(2, 1fr);
  }
}

.form-button,
.preview__buttons {
  display: flex;

  button {
    margin-top: 1rem;
    margin-right: 1rem;
  }
}
