$primaryBlack: #39424e;
.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
.header {
  height: 70px;
  display: grid;
  grid-template-columns: 3fr 6fr 3fr;
  align-items: center;
}
// global
a {
  text-decoration: none;
  &:focus,
  &:hover {
    opacity: 0.87;
  }
}

p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 0.5rem;
  margin-top: 0;
  color: $primaryBlack;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto, sans-serif;
  color: $primaryBlack;
  font-weight: 600;
  line-height: 1.4;
  margin-top: 0;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.875rem;
}
