.footer-header {
  height: 8.312rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    height: 3rem;
  }

  .footer-header-left {
  }

  .footer-header-right {
    display: flex;
    align-items: center;

    svg {
      height: 3rem;
      width: 3rem;
      margin-left: 1rem;
      color: #1ba94c;
    }
  }
}
