.catalog {
  display: flex;
  align-items: center;
  margin-top: 2.5rem;
  padding: 2.5rem 0;
  flex-direction: column;
}
.page-title {
  font-size: 2.5rem;
  line-height: 1.5;
  color: $lightGrey;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 2.25rem;
}

.search-box {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.34);
  width: 35rem;
  &:hover {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.54);
  }
  form {
    position: relative;
    input[type='text'] {
      width: 30.75rem;
      font-size: 1.25rem;
      line-height: 1.25rem;
      margin: 0;
      padding: 0 1rem 0 1rem;
    }
    input[type='text'],
    input[type='button'] {
      height: 2.25rem;
      border: 0;

      &:focus,
      &:hover {
        border: 0;
        outline: none;
      }
    }
    input[type='button'] {
      background-color: transparent;
      background-image: url('../img/search.svg');
      background-size: 1.125rem;
      background-position: center;
      background-repeat: no-repeat;
      width: 2.25rem;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      cursor: pointer;

      svg {
        color: $lightGrey;
      }
    }
  }
}

.hr-catalog-content {
  display: grid;
  grid-template-columns: 11rem 1fr;
  column-gap: 2.5rem;
}

.filter {
  p {
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 1.125rem;
    color: $lightGrey;
    padding-left: 1.125em;
  }
}
.filter-selector {
  list-style-type: none;
  li {
  }
  button {
    background-color: transparent;
    border: 0;
    font-size: 1rem;
    color: $primaryBlack;
    height: 2.25rem;
    line-height: 2.25rem;
    border-left: 4px solid transparent;
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: left;
    padding: 0 1.125em;

    &:hover,
    &:focus {
      border-top: 0;
      border-right: 0;
      border-bottom: 0;
      border-left: 4px solid $primaryBlue;
      outline: none;
    }
  }
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.hrProfileWithImage_Card {
  border-radius: 5px;
  width: 14rem;
  margin-top: 4rem;
  padding: 0 1rem 1.875rem;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.34);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.125rem;

  img {
    border-radius: 50%;
    margin-top: -3rem;
    height: 6rem;
    width: 6rem;
  }
}

.HrProfileWithImage_content {
  text-align: center;
  h1,
  span,
  p {
    font-family: 'Poppins', sans-serif;
  }
  h1 {
    color: $primaryRed;
    font-size: 1.25rem;
    margin-top: 0.687rem;
    margin-bottom: 0.5rem;
  }
  span {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    color: $lightGrey;
    margin-bottom: 0.5rem;
  }
  p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 0.5rem;
  }
}
